*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*1. Header, Navigation Bar*/
nav {
    background: #008080 ;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}
label.logo {
    color: #fff;
    font-size: 2.2rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
}
nav ul {
    float: right;
    margin-right: 20px;
    z-index: 1000;
}
nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    padding: 7px 13px;
}
nav ul li a:hover {
    border: 2px solid #079995;
    color:#fff;
}
nav ul li a:hover {
    background: #079995;
    transition: 0.5s all ease;
}
nav ul li:nth-child(5) a {
    color: #000;
    background: #fff;
    text-transform: uppercase;
}

.checkbtn {
    float: right;
    font-size: 30px;
    color: #fff;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }
.checkbtn i {
    line-height: 80px;
}
#check {
    display: none;
}
/*2. Main Section*/
.main_container {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}
.main_container h1 {
    position: absolute;
    top: 200px;
    text-transform: uppercase;
    margin: auto;
    font-size: 5rem;

}
.main_container .arrow_down {
    display: flex;
    justify-content: center;
    margin-top: 450px;

}
.main_container .arrow_down img {
    height: 120px;
}

/*3. Transform Brand Section*/
.transform_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.transform_container .content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}
.transform_container .content_wrapper h3 {
    font-size: 6rem;
    margin-bottom: 50px;
}
.transform_container .content_wrapper p {
    font-size: 2rem;
    margin-bottom: 50px;
}
.transform_container .content_wrapper a {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
}
.transform_container img {
    height: 100%;
    width: 100%;
}
/*4. Stand Out Section*/
.standout_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.standout_container img {
    height: 100%;
    width: 100%;
}
.standout_container .content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}
.standout_container .content_wrapper h3 {
    font-size: 6rem;
    margin-bottom: 50px;
}
.standout_container .content_wrapper p {
    font-size: 2rem;
    margin-bottom: 50px;
}
.standout_container .content_wrapper a {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
}

/*5. Graphic Photography Section*/
.graphic_photography_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.graphic_photography_section img {
    width: 100%;
    height: 100%;
}
.image_container{
    position: relative;
}
.graphic_photography_section .content_wrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 130px;
    left: 270px;
    width: calc(100% - 540px);
    position: absolute;
}
.graphic_photography_section .content_wrapper h5 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.graphic_photography_section .content_wrapper p {
    font-size: 1.2rem
}
/*6. Testimonial Section*/
.testimonials_section {
    height: 800px;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.testimonials_section h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}
.testimonials_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.testimonials_wrapper .testimonial {
    width: 350px;
    margin: auto;
}
.testimonial img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}
.testimonial p:nth-child(2) {
    margin-bottom: 50px;
}
.testimonial p:nth-child(3) {
    margin-bottom: 10px;
}
/*7. Image Gallery Section*/
.image_gallery_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image_gallery_section img {
    width: 100%;
    height: 100%;
}
/*8. Footer Section*/
footer {
    height: 350px;
    background-color: hsl(168, 41%, 68%);
    text-align: center;
}
footer h1 {
    padding-top: 70px;
}
footer ul:nth-child(2) li {
    display: inline-block;
    list-style-type: none;
    margin: 30px;
}
footer ul:nth-child(3) li {
    display: inline-block;
    list-style-type: none;
    margin: 7px;
}

footer li a {
    text-decoration:  none;
    
}
